.modal-fullscreen .modal-body {
  overflow: initial;
  background: var(--white);
}
.modal-content {
  position: relative;
  background: var(--white);
  color: var(--darkgray);
}
.modal-content .modal-header {
  z-index: 1;
  position: sticky;
  top: 0;
}
.modal-body .row > .column {
  padding: 0;
}
.modal-body .column .card {
  box-shadow: none !important;
}
.modal-body .column .card img {
  padding: 0 !important;
}
.modal-body .column .card, .card-header {
  background: none;
}
.modal-body .column .card .card-title {
  font-size: 1.8em;
}
.modal-body .column .card-header {
  text-transform: uppercase;
}
.modal-body .column:first-child .card-body {
  padding-top: 0 !important;
}
.modal-body .column .id {
  font-size: 1em;
  padding: 3px 8px;
}
.modal-body .column .id::before {
  content: "#";
}
.progress {
  background: linear-gradient(var(--gray), var(--white)) ;
  font-size: 11px;
  height: 15px;
}
.progress, .progress-bar {
  border-radius: 10px;
  color: #000;
}

/* nav-tabs */
.blockquote, .modal-body .list-group li {
  font-size: 15px;
  text-transform: initial;
  text-align: justify;
}
.nav-tabs .nav-link.active {
  background: var(--white);
  border-bottom: 1px solid var(--gray);
  color: var(--dark) !important;
  background: var(--gray);
}
.nav-tabs .nav-item .nav-link {
  color: var(--darkgray);
}
.modal-body .column:nth-child(3) .card-body {
  padding-top: 0;
}
.modal-body .column:nth-child(3) .card-header {
  padding-bottom: 0;
}
.modal-body .list-group li {
  color: var(--darkgray) !important;
  background: inherit;
}
.modal-body .column .card-body .tab-content {
  font-size: 15px;
  max-height: 350px;
  overflow-y: auto;
  /* background: var(--gray); */
  background: linear-gradient(var(--gray), var(--white));
  padding: 0 15px 15px;
  border-radius: 0 0 10px 10px;
}
.modal-body .column .card-body .tab-content .tab-pane .damage-relation {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.modal-body .column .card-body .tab-content .tab-pane .navbar h6 {
  color: var(--dark);
}
/* Hide scrollbar for Chrome, Safari and Opera */
.modal-body .column .card-body .tab-content::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.modal-body .column .card-body .tab-content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* evolution */
.modal-body .column .evolution .row {
  padding: 17px 0 !important;
  /* max-height: 500px; */
  /* overflow: auto; */
}
.modal-body .column .evolution .row, .modal-body .column .evolution .row .col-evolution {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}
.modal-body .column .evolution .row .col-evolution {
  gap: 10px;
}

.modal-body .column .evolution .card img {
  padding: 1rem !important;
  background: var(--gray);
}
.modal-body .column .evolution .card .card-title {
  font-size: 1.1em;
}
.modal-body .column .evolution .card li, .modal-body .column .evolution .card .id {
  font-size: 13px;
}

/* xl */
@media screen and (max-width: 1200px) {
  
  .modal-body .container > .row  {
    align-items: center;
  }


}
/* md */
@media screen and (max-width: 576px) {

  .col-evolution svg {
    transform: rotate(90deg);
    margin-bottom: 17px;
  }
  .modal-body .column .card img {
    padding: 17px !important;
  }
  .modal-body .column .evolution .row .svg {
    justify-content: center !important;
  }


}
/* xxl */
@media screen and (min-width: 1400px) {

  .lastEvolution {
    flex-direction: column;
  }
  
}