.modal-content {
  position: relative;
  background: var(--white);
  color: var(--darkgray);
}
.modal-body .row > .column {
  padding: 0;
}
.modal-body .column .card {
  box-shadow: none !important;
}
.modal-body .column .card, .card-header {
  background: none;
}
.modal-body .column .card .card-title {
  font-size: 1.8em;
}
.modal-body .column .card-header {
  text-transform: uppercase;
}
.modal-body .column:first-child .card-body {
  padding-top: 0 !important;
}
.modal-body .column .id {
  font-size: 1em;
  padding: 3px 8px;
}
.modal-body .column .id::before {
  content: "#";
}
.progress {
  background: var(--gray);
}
.progress, .progress-bar {
  border-radius: 10px;
  color: #000;
}

/* nav-tabs */
.blockquote {
  font-size: 1em;
  text-transform: initial;
}
.nav-tabs .nav-link.active {
  background: var(--white);
}
.nav-tabs .nav-item .nav-link {
  color: var(--darkgray);
}
.modal-body .column:nth-child(3) .card-body {
  padding-top: 0;
}
.modal-body .column:nth-child(3) .card-header {
  padding-bottom: 0;
}